*{
  margin: 0;
  padding: 0;
  font-size: 16px;
  text-decoration: none;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}

body{
  background: rgb(2,0,36);
  background: linear-gradient(120deg, rgba(2,0,36,1) 0%, rgba(51,16,124,1) 41%, rgba(53,75,157,1) 80%);
}
